body{
    background-color: rgb(233, 233, 207);
}

.logoBox{
    display: flex;
    justify-content: center;
}

.bgBoxes{
    background-color: rgb(214, 171, 114);
    margin: 4vw;
}

.logo{
    width:40vw;
}

#shrek{

    width: 30vw;
    text-align: center;
}